<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>DropBox</title>
</head>
<body>
	<h1>I want to store!</h1>
	<form method="POST" action="/lists" enctype="x-www-form-urlencoded">
		Name: <input type="text" name="name">
		Address: <input type="text" name="address">
		User Type: <input type="text" name="userType">
		Zip : <input type="text" name="zipCode">
		Lat : <input type="text" name="latitude">
		Long : <input type="text" name="longitude">
		Phone num: <input type="text" name="phoneNum">
		Quantity: <input type="text" name="quantity">
		start Date: <input type="text" name="startDate">
		End date: <input type="text" name="endDate">
		Price: <input type="text" name="price">
		<input type="submit" value="Search for storage space">
	</form>
</body>
</html>