.content:before {
  		content: "";
  		position: fixed;
  		top: 0;
  		left: 0;
  		right: 0;
  		bottom: 0;
  		z-index: -1;

  		display: block;
  		background: #79B1E0;
  		background-size: cover;
  		background-position: center;
  		width: 100%;
  		height: 100%;
  	}

  	.content {
  		position: middle;
  		margin:auto;
  	}

  	.input {
  		margin: 0px 0px 10px 0px;
  		display: block;
  	}

  	.form-label {
  		color: white;
  	}

  	.lb-lg {
  		font-size: 1.2em;
  	}

  	.submit-button {
  		margin-top: 10px;
  	}

    .btn-danger {
        background:#E69494;
        max-width: 350px;
        margin: auto;
    }

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: #E69494;
    }
 

    .btn-primary {
        background:#417193;
        max-width: 350px;
        margin: auto;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #417193;
    }
 
    .btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
    }

    .logo-title {
      margin-top: 50px;
      margin-bottom: 25px;
      font-size: 40px;
      color: white;
      text-align: center;
      margin-left: 20px;
    }

  	.text-primary {
  		color: white;
  	}

  	.logo-image {
  		max-width: 80%;
  		/*max-width: 540px;*/
  	}

  	.logo-image-container {
  		text-align: center;
		margin-left: auto;
		margin-right: auto;
	  	}

	.space {
		height: 40%;
	}
